<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="iTunes.Duplicate.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <iTunes.Duplicate.Gui.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>C:\Users\David\Downloads</value>
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value>M:\Music</value>
            </setting>
            <setting name="TitleFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>'</string>
                        <string>(Radio)</string>
                        <string>(Main)</string>
                        <string>(PO Clean Edit)</string>
                        <string>(Clean)</string>
                        <string>(Original)</string>
                    </ArrayOfString>
                </value>
            </setting>
        </iTunes.Duplicate.Gui.Properties.Settings>
    </userSettings>
</configuration>
